.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    margin: 0;
    font-size: calc(42px * var(--font-scale));
    font-weight: 800;
  }

  p {
    margin: 5px;
    font-weight: 500;
    font-size: calc(16px * var(--font-scale));
    color: rgba(0, 0, 0, 0.563);
  }

  button {
    margin-top: 10px;
    width: 130px;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;

    background: #3052d8;
    font-weight: 500;
    font-size: calc(16px * var(--font-scale));
    color: #fff;
    cursor: pointer;
  }
}
