.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.2s ease-in-out;
}

.table_body {
  width: 1000px;
  position: relative;
  background: var(--card-bg);
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  animation: slideUp 0.3s ease;
  text-align: center;

  svg {
    position: absolute;
    right: 10px;
    width: 20px;
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.2);
    }
  }

  h1 {
    margin: 0;
    padding: 0;
    font-size: calc(20px * var(--font-scale));
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 10px;

    button {
      width: 180px;
      padding: 4px 10px;
      margin: 10px 0;
      border: 1px solid rgb(186, 186, 186);
      border-radius: 4px;
      background-color: var(--card-bg);
      font-weight: 700;
      font-size: calc(16px * var(--font-scale));
      color: var(--text-color);
      cursor: pointer;
      transition: all 0.1s;

      &:hover {
        transform: scale(1.04);
      }
    }

    .activeBtn {
      color: white;
      border: 2px solid #3052d8;
      background-color: #3052d8;
    }
  }
}

.tableContainer {
  min-height: 30vh;
  max-height: 80vh;
  margin-top: 10px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
  }

  h2 {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    font-size: calc(18px * var(--font-scale));
  }

  .employee_table {
    width: 100%;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    box-sizing: border-box;
    background-color: var(--card-bg);

    thead {
      background-color: var(--table-header);
      top: 0;
      z-index: 1;
      position: sticky;
      text-align: center;
    }

    tbody {
      text-align: center;

      :hover {
        background-color: #ebebeb;
      }
    }

    th {
      font-size: calc(14px * var(--font-scale));
      font-weight: 600;
    }

    td {
      padding: 5px;
      margin: 0;
      font-size: calc(14px * var(--font-scale));
      border-bottom: 1px solid #eee;
      color: var(--text-color);
    }

    td img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 8px;

      @media (min-width: 1540px) {
        width: 60px;
        height: 60px;
      }
    }

    th:nth-child(2) {
      text-align: center;
    }

    td:nth-child(2) {
      text-align: left;
    }
  }
}

@keyframes fadeIn {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
