.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0 15px;
  height: 32px;
  position: relative;
  overflow: hidden;
  text-align: center;
  border-radius: 4px;
  border: none;
  background: var(--third-color);
  font-weight: 500;
  font-size: var(--font-small);
  color: var(--button-text);
  cursor: pointer;
  transition: all 0.3s ease;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.4) 50%,
      rgba(255, 255, 255, 0.1) 100%
    );
    transform: skewX(-20deg);
    transition: all 0.4s ease;
  }

  &:hover::before {
    left: 125%;
  }

  &:hover {
    transform: scale(1.02);
  }

  svg {
    width: 18px;
    height: 18px;
    color: var(--text-color);
    fill: var(--button-text);
  }
}
