.dash {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  .cards {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
  }
}

.card {
  width: 200px;
  padding: 20px;
  background: var(--table-header);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card .card-body {
  text-align: center;
}

.chart {
  width: 80%;
  max-width: 600px;
}
