.multiSelectContainer {
  position: relative;
}

.selectBox {
  font-weight: 500;
  color: var(--text-color);
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: calc(14px * var(--font-scale));
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid var(--border-color);
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--card-bg);
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;

  font-size: calc(14px * var(--font-scale));
}

.item {
  padding: 8px 10px;
  cursor: pointer;
}

.item:hover {
  background-color: var(--select-hover-color);
}

.selected {
  background-color: #d1e7ff;
  font-weight: bold;
}
