.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.2s ease-in-out;
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
  background: var(--card-bg);
  border-radius: 8px;
  padding: 5px;
  min-width: 500px;
  max-width: 550px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  animation: slideUp 0.3s ease;
  font-size: var(--font-small);

  strong {
    font-size: var(--font-small);
  }
}

.empty {
  color: #888;
  text-align: center;
  padding: 16px;
  font-size: var(--font-small);
}

.eventList {
  margin: 0 auto;
  width: 100%;
  max-height: 75vh;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--font-small);
}

.eventItem {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  background: #f9fbff;
  border-radius: 2px;
  border: 1px solid #e3e3e3;
  border-left: 4px solid #1455fe;
  padding: 5px 15px;
  margin: 10px;
  transition: transform 0.2s ease;
  font-size: var(--font-small);

  img {
    width: 130px;
    height: 120px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
  }

  p {
    margin: 4px 0;
    font-size: var(--font-small);
    color: #444;
  }

  .eventNumber {
    display: block;
    font-size: var(--font-small);
    font-weight: 700;
    color: #0939b3;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  }
}

.borderOrange {
  border-left-color: #c49000;
}

@keyframes fadeIn {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
